<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>MayGame</title>
  <meta name="description" content="No description">
  <meta name="author" content="Some dude">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- #region -->
<script id="gun_cdn_script" src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
<script id="sea_cdn_script" src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
  <script id="wsjs_innerscript" src="js/core/wsjs.js"></script>
  <link id="css_styles_core" rel="stylesheet" href="css/styles.css" />
</head>
<body style="pointer-events: none;">
<style>
        iframe{
            position: fixed;
            z-index: 0;
            display: block;
            width: 100%;
            height: 100%;
            border: none;
            overflow-y: auto;
            overflow-x: hidden;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            pointer-events: all;
        }
        /* html 
{
 overflow: auto;
} */
 
html, body, iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 100vh; 
 width: 100vw;
 border: none;
 overflow: hidden;
}
</style>
<div id="menu" style="position: fixed; z-index: 2147483210; bottom: 0; pointer-events: all;">
    <button onclick="default_sign_in();" style="color: seagreen;">Quick sign in</button>
    <button onclick="force_create_new_user();">Force new user</button>
    <input type="text" id="text_pair" placeholder="paste your key here or log in with default">
    <br>
    <button onclick="toggle(quests_layer)">Quests</button>
    <button onclick="toggle(quests_add_layer)">Quests Add/Edit</button>
    <button onclick="toggle(profile_layer)">Profile</button>
    <button onclick="toggle(map_layer)">Map</button>
    <button onclick="toggle_pevents(frame_hud)">Hud</button>
    <button onclick="toggle(curr_layer)" style="background-color: mediumpurple;">Currencies</button>
    <button onclick="toggle(test_layer)" style="background-color: mediumturquoise;">Test</button>
    <!-- <input type="text" value=""> -->
    <!-- <button onclick="window.frames.test.postMessage('Lunar blessings to you all!','https://maygame.xxx')">Send test message</button> -->
    <!-- <button onclick="gun.get('test').get('stuff').put({'hud_test':'from_core'});">GUN TEST</button> -->
    <!-- <div id="message_div"></div> -->
</div><br>
<!-- #region -->
<div id="quests_layer" class="layer" style="display: none; ">
    <iframe name="quests" src="<%= quests_url %>" id="frame_quests" style="border: 0; width: 100%; height: 100%"></iframe>
</div></div>
<div id="quests_add_layer" class="layer" style="display: none; ">
    <iframe name="quests_add" src="<%= quests_add_url %>" id="frame_quests_add" style="border: 0; width: 100%; height: 100%"></iframe>
</div></div>
<div id="hud_layer" class="layer" style="z-index: -5;">
    <iframe name="hud" src="<%= hud_url %>" id="frame_hud" style="border: 0; width: 100%; height: 100%; z-index: -5;"></iframe>
</div>
<div id="map_layer" class="layer" style="display: none;">
    <iframe name="map" src="<%= map_url %>" id="frame_map" style="border: 0; width: 100%; height: 100%"></iframe>
</div>
<div id="profile_layer" class="layer" style="display: none;">
    <iframe name="profile" src="<%= profile_url %>" id="frame_profile" style="border: 0; width: 100%; height: 100%"></iframe>
</div>
<div id="curr_layer" class="layer" style="display: none;">
<div style="
    border: 5px solid royalblue; background-color: midnightblue;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%; width: 100%;"
    >
    <iframe name="currencies" src="<%= currency_url %>" id="frame_profile" style="border: 0; width: 100%; height: 100%"></iframe>
</div></div>
<div id="test_layer" class="layer" style="display: none;">
    <iframe name="test" src="frames/test" id="frame_test" style="border: 0; width: 100%; height: 100%"></iframe>
</div>
<!-- #endregion -->
<script defer id="js_init">
    (()=>{
        let newFid="quests_add_new_fid";
        let qed=document.getElementById('frame_quests_add');
        qed.src=qed.src.split('?')[0]+`?fid=${newFid}`;
    })();
</script>
<script>
    var peers=["<%= peers %>"];//exactly one peer for now.
    var gun = Gun({peers:peers});
    var sea = Gun.SEA;
    gun.get('map').get('gps_my_pos').on((crd)=>{console.log('core got gun gps pos, ',crd)});
    gun.get('map').get('gps_map_click').on((crd)=>{console.log('core got gps map_click, ',crd)});
    var keyring = {};//todo
    var user = gun.user().recall({ sessionStorage: true }, () => {
      logIn()
    })
    gun.on('auth', () => {
        logIn()
    })
    var user_soul;
    window.onmessage=(e)=>{
        if(e.data.gunput){
            console.log("gunput: ",user_soul+e.data.soul)
            gun.get(user_soul+e.data.soul).put(e.data.gunput);
        }
        // if(e.data.gunrelay){
        //     let translated=JSON.parse(e.data.gunrelay)
        //     // translated?._.#=user.is+translated._['#']
        //     console.log('translated', translated)
        //     gun._.on('in',JSON.parse(e.data.gunrelay));
        //     console.log(e.data.gunrelay);
        // }
        // message_div.innerText=e.data; console.log(e.data)
        if(e.data.topic=='pair_request'){
            if(pairs[e.source.name])
            e.source.postMessage({'topic':'your_pair','pair':pairs[e.source.name]})
            else(console.log('No pair found for '+e.source.name))
        }
        else
        if(e.data.topic=='data_request'){
            console.log('data request:');
            console.log(e.data);
            console.log('from:');
            console.log(e.source);
            let msgSource=e.source;//todo:remember
            msgSource.postMessage({'rid':e.data.rid,'body':'Mock response','topic':'req_response'});
        }

    }
    function modify_soul(gun_msg){


    }
    //#region Sign in
async function default_sign_in(){
    let text_pair = document.getElementById('text_pair').value;
    let pair = localStorage.getItem('user_pair');
    if(text_pair){console.log('Logging in with a pasted key', pair);
    pair=JSON.parse(text_pair);//fixme: validation
    }
    else{
    if(!pair){console.log('No pair stored. Creating.');
    pair = await sea.pair();
    localStorage.setItem('user_pair', JSON.stringify(pair))
    console.log('Logged in as a new user.', pair)
    }
    else { pair = JSON.parse(pair); console.log('logged in using saved key: ',pair);}}
    user.auth(pair);
}
async function force_create_new_user(){
    let pair = await sea.pair();
    localStorage.setItem('user_pair', JSON.stringify(pair))
    user.auth(pair);
}
    function logIn(){console.info('Logged in as ', user.is);
    user_soul=user.is;
}

    async function create_key() {
temp_key =  await sea.pair();
document.getElementById("current_key").value=JSON.stringify(temp_key);
}
</script> 
<script>
    function toggle_pevents(target){
        if(target.style.pointerEvents=='none')
        target.style.pointerEvents='all'
        else target.style.pointerEvents = 'none'
    }
</script>
<script>
</script>
</body>
</html>